.header {
    background-color: #60c8c7;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between
}

.header__logo {
    display: flex;
    padding: 25px;
}

.header__logo_img {
    width: 60px;
    height: 60px;
    padding-right: 15px;
}

.header__logo_text {
    margin: 0;
    font-size: 24px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.25;
    text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.35);
}

.header__phonemenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 25px 0;
}

.header__phone {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding: 20px 0 20px 0;
}

.header__phone_img {
    width: 25px;
    height: 25px;
    padding-right: 15px;
}

.header__phone_text {
    margin: 0px;
    font-size: 20px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}


.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__topmenu {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    margin: 0px;
}

.header__submenu {
    display: none;
}

.header__topmenu_link {
    margin-left: 27px;
    text-decoration: none;
    font-size: 24px;
    font-family: "Ubuntu";
    color: #424242;
    line-height: 1.25;
    text-align: left;

}

.header__topmenu_link-active {
    color: white;
}

/*Ð±Ð°Ð½Ð½ÐµÑ€*/

.baner {
    background-color: #f0f0f0;
}

.baner-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background: url("../img/banner.png") no-repeat;
    max-width: 1440px;
    margin: 0 auto;
}

.baner p {
    font-size: 24px;
    font-family: "Ubuntu";
    color: rgb(73, 72, 72);
    line-height: 1.25;
    text-align: right;
    margin: 120px 15px 50px 15px;
}

.baner h2 {
    font-size: 36px;
    font-family: "Helvetica Grumov";
    color: rgb(73, 72, 72);
    line-height: 1.333;
    text-align: right;
    margin: 0px 15px;
}


/*ÐºÐ°Ñ€Ñ‚Ð¾Ñ‡ÐºÐ° Ð¿Ñ€ÐµÐ¸Ð¼ÑƒÑ‰ÐµÑÑ‚Ð²*/

.advantages {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between
}

.advantages-card {
    display: flex;
    justify-content: space-between
}


/*ÐºÐ°Ñ€Ñ‚Ð¾Ñ‡ÐºÐ¸ ÐºÐ»Ð¸Ð½Ð¸Ðº*/
main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between
}

.clinic_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.clinic_list {
    padding: 20px 0;
}

.clinic_card {
    max-width: 680px;
    box-sizing: border-box;
    border: 3px solid #60c8c7;
    padding: 20px;
    margin: 10px;
}

.clinic_card__head {
    display: flex;
}

/*Ñ„ÑƒÑ‚ÐµÑ€*/
.footer {
    display: flex;
    flex-direction: column;
}

.footer__top {
    background-color: #60c8c7;
}

.footer__logo {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.footer__form {

}

.footer__form-text {

}

.footer__form-btn {

}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.footer__adress {
    display: flex;
    flex-direction: column;
}

.footer__adress-link {
    list-style: none;

}

.link img {
    float: left;
    padding-right: 25px;
}

.footer__link {
    display: flex;
    flex-direction: column;
}

.footer__link-link {
    list-style: none;
}

.footer__service {
    display: flex;
    flex-direction: column;
}

.footer__service-link {
    list-style: none;
}

.footer__contact {
    display: flex;
    flex-direction: column;
}


.footer__copiryte {
    display: flex;
    justify-content: center;
    background-color: #60c8c7;
}

/*news*/

.news {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}