body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #60c8c7;
    width: 100%;
    max-width: 1440px;
}

.header-logo-tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    font-family: "Helvetica Grumov";
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 6px 14px rgba(0, 0, 0, 0.35);
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 15px;
}

.top-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-menu :hover {
    color: #ffffff;
}

nav li {
    display: inline;
    margin: 0px 15px;
    font-size: 24px;
    font-family: "Ubuntu";
    color: #494848;
    line-height: 1.25;
    align-items: flex-end;
}

nav li a {
    color: inherit;
    text-decoration: unset;
}

.header-phone {
    font-size: 20px;
    font-family: "Ubuntu";
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-phone img {
    width: 20px;
    height: 20px;
    margin: 15px;
}





