.baner {
  background-color: #ccd5e7;
}

.baner-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background: url("../img/banner.png") no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

.baner__text {
  font-size: 24px;
  font-family: "Ubuntu";
  color: rgb(73, 72, 72);
  line-height: 1.25;
  text-align: right;
  margin: 120px 15px 50px 15px;
}

.baner__heading {
  font-size: 36px;
  font-family: "Helvetica Grumov";
  color: rgb(73, 72, 72);
  line-height: 1.333;
  text-align: right;
  margin: 0px 15px;
}

.baner-form {
  margin: 35px 15px;
}